Condition.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="condition">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="conditionID" type="xs:string"/>
		<xs:element name="conditiondescription">
		  <xs:simpleType>
			<xs:restriction base="xs:string">
			  <xs:maxLength value="255"/>
			</xs:restriction>
		  </xs:simpleType>
		</xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>