Review.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="review">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reviewID" type="xs:string"/>
				<xs:element name="reviewDescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="255"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="star" type="xs:decimal"/>
				<xs:element name="userID" type="xs:string"/>
				<xs:element name="created_date" type="xs:dateTime"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
