Status.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="status">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="statusID" type="xs:string"/>
				
				<xs:element name="statusdescription">
					<xs:simpleType>
						<xs:restriction base="xs:string">
						  <xs:length value="255"/>
						</xs:restriction>
				  </xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
